.wrapper {
    display: inline-flex;
}

.square-wrap {
    width: 394px;
    height: 394px;
    border: 1px solid #111;
    margin-left: 30px;
    margin-bottom: 15px;
}

.square {
    width: 49px;
    height: 49px;
    float: left;
    border: 0.1px solid #111;
}

.square-busy_enemy {
    background: red;
}

.square-busy_player {
    background: green;
}